# Install Dependent Libraries (Databricks)

Note: If running this notebook in Databricks, you will need the following libraries. If these libraries are not installed on your Databricks Cluster, you can simply uncomment and run the following cell to install those libraries in the notebook before you import the dependencies.

Libraries needed:
- koalas
- mlflow
- tensorflow
- imblearn

In [1]:
# dbutils.library.installPyPI("koalas")
# dbutils.library.installPyPI("mlflow")
# dbutils.library.installPyPI("tensorflow")
# dbutils.library.installPyPI("imblearn")
# dbutils.library.restartPython()

# Import Dependencies

In [2]:
# import databricks.koalas as ks
import pandas as pd

import numpy as np
import gzip

In [3]:
import mlflow.sklearn

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
from sklearn.preprocessing import StandardScaler

from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import make_pipeline as make_pipeline_imb
from imblearn.metrics import classification_report_imbalanced

In [7]:
import tensorflow as tf
from tensorflow.keras import datasets, layers, models, utils

# Create a Keras model that's compatible with scikit-learn
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

# Connecting to the AWS S3 Mount

# Read the CSV and Perform Basic Data Cleaning

In [9]:
# # Read CSVs
# df = pd.read_csv("/dbfs/mnt/%s/Project 3 Stuff/cod_clean.csv.gz" % MOUNT_NAME, compression="gzip")

In [10]:
# Read CSVs
df = pd.read_csv("../data/cod_clean.csv.gz", compression="gzip")

# Select your Features and Labels

In [11]:
# Drop unnecessary column
df = df.drop(columns="ICD Code")
df.head()

,Education Level,Month of Death,Sex/Gender,Age Groups,Marital Status,Year,Cause of Death,Race,Cause of Death Category
0,8th grade or less,June,M,85 years and over,Married,2005,All other forms of chronic ischemic heart dise...,White,Diseases of the circulatory system
1,"9 - 12th grade, no diploma",January,F,45 - 54 years,Married,2005,Other chronic obstructive pulmonary disease,White,Diseases of the respiratory system
2,high school graduate or GED completed,January,F,65 - 74 years,Widowed,2005,"Of trachea, bronchus and lung",White,Neoplasms
3,high school graduate or GED completed,January,M,55 - 64 years,Married,2005,Intentional self-harm,White,External causes of morbidity and mortality
4,high school graduate or GED completed,January,M,75 - 84 years,Married,2005,"Stroke, not specified as hemorrhage or infarct...",White,Diseases of the circulatory system

In [12]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()
df.head()

,Education Level,Month of Death,Sex/Gender,Age Groups,Marital Status,Year,Cause of Death,Race,Cause of Death Category
0,8th grade or less,June,M,85 years and over,Married,2005,All other forms of chronic ischemic heart dise...,White,Diseases of the circulatory system
1,"9 - 12th grade, no diploma",January,F,45 - 54 years,Married,2005,Other chronic obstructive pulmonary disease,White,Diseases of the respiratory system
2,high school graduate or GED completed,January,F,65 - 74 years,Widowed,2005,"Of trachea, bronchus and lung",White,Neoplasms
3,high school graduate or GED completed,January,M,55 - 64 years,Married,2005,Intentional self-harm,White,External causes of morbidity and mortality
4,high school graduate or GED completed,January,M,75 - 84 years,Married,2005,"Stroke, not specified as hemorrhage or infarct...",White,Diseases of the circulatory system

In [13]:
cleanup_df = df[["Cause of Death", "Cause of Death Category", "Year", "Month of Death", "Sex/Gender",
                        "Marital Status", "Age Groups", "Education Level", "Race"]]

In [14]:
cleanup_df = cleanup_df.loc[(cleanup_df["Cause of Death"] == "Other cerebrovascular diseases and their sequelae ") | 
                            (cleanup_df["Cause of Death"] == "All other diseases of respiratory system ") |
                            (cleanup_df["Cause of Death Category"] == "External causes of morbidity and mortality") |
                            (cleanup_df["Cause of Death"] == "Alzheimer's disease ") |
                            (cleanup_df["Cause of Death"] == "Diabetes mellitus ") |
                            (cleanup_df["Cause of Death"] == "All other symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified ")
                            ]
cleanup_df = cleanup_df.reset_index(drop=True)

In [15]:
cleanup_df = cleanup_df.replace({
    "Endocrine, nutritional and metabolic diseases": "Diabetes mellitus",
    "Diseases of the nervous system": "Alzheimer's Disease",
    "Diseases of the circulatory system": "Cerebrovascular Diseases",
    "Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified": "Other"
})

In [16]:
selected_features = cleanup_df[["Cause of Death Category", "Year", "Month of Death", "Sex/Gender",
                        "Marital Status", "Age Groups", "Education Level", "Race"]]
selected_features.head()

,Cause of Death Category,Year,Month of Death,Sex/Gender,Marital Status,Age Groups,Education Level,Race
0,External causes of morbidity and mortality,2005,January,M,Married,55 - 64 years,high school graduate or GED completed,White
1,Cerebrovascular Diseases,2005,January,F,Widowed,75 - 84 years,8th grade or less,White
2,Alzheimer's Disease,2005,January,M,Widowed,85 years and over,"some college credit, but no degree",White
3,Alzheimer's Disease,2005,January,M,Married,75 - 84 years,"some college credit, but no degree",White
4,Diabetes mellitus,2005,January,M,Married,65 - 74 years,Master’s degree,White

In [17]:
for x in selected_features["Cause of Death Category"].unique():
    print(x)

External causes of morbidity and mortality
Cerebrovascular Diseases
Alzheimer's Disease
Diabetes mellitus
Diseases of the respiratory system
Other

# Select Labels for Test and Control Groups

In [18]:
selected_features = selected_features.loc[(selected_features["Cause of Death Category"] == "Diseases of the respiratory system") |
                                         (selected_features["Cause of Death Category"] == "Other")]
selected_features = selected_features.reset_index(drop=True)

In [19]:
selected_features

,Cause of Death Category,Year,Month of Death,Sex/Gender,Marital Status,Age Groups,Education Level,Race
0,Diseases of the respiratory system,2005,January,M,Divorced,75 - 84 years,high school graduate or GED completed,White
1,Other,2005,January,F,Widowed,75 - 84 years,Bachelor’s degree,White
2,Diseases of the respiratory system,2005,January,M,Married,65 - 74 years,"9 - 12th grade, no diploma",White
3,Diseases of the respiratory system,2005,January,M,Married,85 years and over,8th grade or less,White
4,Diseases of the respiratory system,2005,January,M,Married,75 - 84 years,high school graduate or GED completed,White
...,...,...,...,...,...,...,...,...
330468,Diseases of the respiratory system,2015,December,M,Married,65 - 74 years,Bachelor’s degree,White
330469,Diseases of the respiratory system,2015,December,F,Married,65 - 74 years,high school graduate or GED completed,Black
330470,Diseases of the respiratory system,2015,December,F,Widowed,85 years and over,high school graduate or GED completed,White
330471,Diseases of the respiratory system,2015,December,F,Married,45 - 54 years,"some college credit, but no degree",White
330472,Diseases of the respiratory system,2015,December,M,Married,65 - 74 years,Master’s degree,White

# Preview Data Distribution by Features and Classes

In [20]:
cod = selected_features.groupby("Cause of Death Category").count()
cod.sort_values(by="Year", ascending=False)

,Year,Month of Death,Sex/Gender,Marital Status,Age Groups,Education Level,Race
Cause of Death Category,,,,,,,
Diseases of the respiratory system,217190,217190,217190,217190,217190,217190,217190
Other,113283,113283,113283,113283,113283,113283,113283

In [21]:
age = selected_features.groupby("Age Groups").count()
age.sort_values(by="Year", ascending=False)

,Cause of Death Category,Year,Month of Death,Sex/Gender,Marital Status,Education Level,Race
Age Groups,,,,,,,
85 years and over,122759,122759,122759,122759,122759,122759,122759
75 - 84 years,95503,95503,95503,95503,95503,95503,95503
65 - 74 years,56269,56269,56269,56269,56269,56269,56269
55 - 64 years,29450,29450,29450,29450,29450,29450,29450
45 - 54 years,13006,13006,13006,13006,13006,13006,13006
35 - 44 years,5128,5128,5128,5128,5128,5128,5128
25 - 34 years,2983,2983,2983,2983,2983,2983,2983
Under 1 year (includes not stated infant ages),2000,2000,2000,2000,2000,2000,2000
15 - 24 years,1919,1919,1919,1919,1919,1919,1919
1 - 4 years,742,742,742,742,742,742,742
5 - 14 years,708,708,708,708,708,708,708
Age not stated,6,6,6,6,6,6,6

In [22]:
race = selected_features.groupby("Race").count()
race.sort_values(by="Year", ascending=False)

,Cause of Death Category,Year,Month of Death,Sex/Gender,Marital Status,Age Groups,Education Level
Race,,,,,,,
White,292624,292624,292624,292624,292624,292624,292624
Black,29401,29401,29401,29401,29401,29401,29401
Asian or Pacific Islander,6320,6320,6320,6320,6320,6320,6320
American Indian,2128,2128,2128,2128,2128,2128,2128

# Apply One-Hot Encoding

In [23]:
label_encoder = LabelEncoder()
onehotencoder = OneHotEncoder()

### Encode X data (features)

In [24]:
column_list = ["Month of Death", "Age Groups", "Education Level", "Sex/Gender", "Marital Status", "Race"]

In [25]:
for column in column_list:
    # Reshape column data; fit to the one-hot-encoder (expands columns)
    X = onehotencoder.fit_transform(selected_features[column].values.reshape(-1,1)).toarray()
    
    # Send the one-hot-encoded information from that column to a new dataframe
    dfOneHot = pd.DataFrame(X, columns = [column+str(int(i)) for i in range(X.shape[1])])
    
    # Merge the one-hot-encoded dataframe to the master dataframe
    selected_features = selected_features.merge(dfOneHot, how="right", right_index=True, left_index=True)
    
    # Drop the column selected (no longer needed)
    selected_features = selected_features.drop([column], axis=1)

selected_features.head()

,Cause of Death Category,Year,Month of Death0,Month of Death1,Month of Death2,Month of Death3,Month of Death4,Month of Death5,Month of Death6,Month of Death7,...,Sex/Gender1,Marital Status0,Marital Status1,Marital Status2,Marital Status3,Marital Status4,Race0,Race1,Race2,Race3
0,Diseases of the respiratory system,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Other,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,Diseases of the respiratory system,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Diseases of the respiratory system,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,Diseases of the respiratory system,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

### Encode Y data (labels/categories)

In [26]:
selected_features["Cause of Death Category"] = label_encoder.fit_transform(selected_features["Cause of Death Category"])
selected_features.head()

,Cause of Death Category,Year,Month of Death0,Month of Death1,Month of Death2,Month of Death3,Month of Death4,Month of Death5,Month of Death6,Month of Death7,...,Sex/Gender1,Marital Status0,Marital Status1,Marital Status2,Marital Status3,Marital Status4,Race0,Race1,Race2,Race3
0,0,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

### Select Data Values

In [27]:
data = selected_features.values
X = data[:, 1:]
y = data[:, 0]

In [28]:
X.shape

(330473, 44)

# Make a Deep Learning Classifier

In [29]:
def build_DL_classifier():
    classifier = models.Sequential()
    number_inputs = 44
    first_hidden_layer = 60
    second_hidden_layer = 30
    third_hidden_layer = 24
    fourth_hidden_layer = 12
    number_classes = 2
    
    classifier.add(layers.Dense(units=first_hidden_layer, activation='relu', input_dim=number_inputs))
    classifier.add(layers.Dense(units=second_hidden_layer, activation='relu'))
    classifier.add(layers.Dense(units=third_hidden_layer, activation='relu'))
    classifier.add(layers.Dense(units=fourth_hidden_layer, activation='relu'))
    classifier.add(layers.Dense(units=number_classes, activation='softmax'))
    classifier.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
    return classifier

# keras_DL_classifier = KerasClassifier(build_DL_classifier, epochs=150, shuffle=True, verbose=2, callbacks=[EarlyStopping(monitor='accuracy', patience=20, verbose=2)])
keras_DL_classifier = KerasClassifier(build_DL_classifier, epochs=150, shuffle=True, verbose=2, callbacks=[EarlyStopping(monitor='loss', patience=20, verbose=2)])

# Create a Train Test Split

In [30]:
# split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Preprocess the Data and Adjust Imbalanced Data

In [31]:
deep_model = make_pipeline_imb(StandardScaler(), RandomUnderSampler(), keras_DL_classifier)

In [32]:
deep_model.fit(X_train, y_train)

WARNING:tensorflow:From C:\Users\Rob-Desktop\Anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

C:\Users\Rob-Desktop\Anaconda3\lib\site-packages\tensorflow_core\python\framework\tensor_util.py:521: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  tensor_proto.tensor_content = nparray.tostring()
C:\Users\Rob-Desktop\Anaconda3\lib\site-packages\tensorflow_core\python\training\tracking\data_structures.py:669: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  if not isinstance(wrapped_dict, collections.Mapping):
C:\Users\Rob-Desktop\Anaconda3\lib\site-packages\tensorflow_core\python\framework\indexed_slices.py:339: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  if not isinstance(values, collections.Sequence):
C:\Users\Rob-Desktop\Anaconda3\lib\site-packages\tensorflow_core\python\framework\tensor_util.py:521: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  tensor_proto.tensor_content = nparray.tostring()

Train on 170270 samples
Epoch 1/150
170270/170270 - 5s - loss: 0.6371 - acc: 0.6428
Epoch 2/150
170270/170270 - 5s - loss: 0.6312 - acc: 0.6500
Epoch 3/150
170270/170270 - 5s - loss: 0.6300 - acc: 0.6514
Epoch 4/150
170270/170270 - 5s - loss: 0.6293 - acc: 0.6521
Epoch 5/150
170270/170270 - 5s - loss: 0.6287 - acc: 0.6521
Epoch 6/150
170270/170270 - 5s - loss: 0.6283 - acc: 0.6527
Epoch 7/150
170270/170270 - 5s - loss: 0.6277 - acc: 0.6542
Epoch 8/150
170270/170270 - 5s - loss: 0.6273 - acc: 0.6542
Epoch 9/150
170270/170270 - 5s - loss: 0.6270 - acc: 0.6544
Epoch 10/150
170270/170270 - 5s - loss: 0.6263 - acc: 0.6556
Epoch 11/150
170270/170270 - 6s - loss: 0.6261 - acc: 0.6557
Epoch 12/150
170270/170270 - 5s - loss: 0.6258 - acc: 0.6559
Epoch 13/150
170270/170270 - 5s - loss: 0.6255 - acc: 0.6561
Epoch 14/150
170270/170270 - 5s - loss: 0.6251 - acc: 0.6571
Epoch 15/150
170270/170270 - 5s - loss: 0.6249 - acc: 0.6574
Epoch 16/150
170270/170270 - 5s - loss: 0.6245 - acc: 0.6575
Epoch 17/150
170270/170270 - 5s - loss: 0.6241 - acc: 0.6582
Epoch 18/150
170270/170270 - 5s - loss: 0.6237 - acc: 0.6586
Epoch 19/150
170270/170270 - 5s - loss: 0.6237 - acc: 0.6582
Epoch 20/150
170270/170270 - 5s - loss: 0.6232 - acc: 0.6595
Epoch 21/150
170270/170270 - 5s - loss: 0.6229 - acc: 0.6597
Epoch 22/150
170270/170270 - 5s - loss: 0.6225 - acc: 0.6602
Epoch 23/150
170270/170270 - 5s - loss: 0.6224 - acc: 0.6600
Epoch 24/150
170270/170270 - 5s - loss: 0.6220 - acc: 0.6605
Epoch 25/150
170270/170270 - 5s - loss: 0.6218 - acc: 0.6608
Epoch 26/150
170270/170270 - 5s - loss: 0.6217 - acc: 0.6606
Epoch 27/150
170270/170270 - 5s - loss: 0.6213 - acc: 0.6608
Epoch 28/150
170270/170270 - 5s - loss: 0.6212 - acc: 0.6613
Epoch 29/150
170270/170270 - 5s - loss: 0.6209 - acc: 0.6618
Epoch 30/150
170270/170270 - 5s - loss: 0.6207 - acc: 0.6616
Epoch 31/150
170270/170270 - 5s - loss: 0.6206 - acc: 0.6611
Epoch 32/150
170270/170270 - 5s - loss: 0.6202 - acc: 0.6618
Epoch 33/150
170270/170270 - 5s - loss: 0.6200 - acc: 0.6616
Epoch 34/150
170270/170270 - 5s - loss: 0.6197 - acc: 0.6623
Epoch 35/150
170270/170270 - 5s - loss: 0.6197 - acc: 0.6623
Epoch 36/150
170270/170270 - 5s - loss: 0.6194 - acc: 0.6622
Epoch 37/150
170270/170270 - 5s - loss: 0.6194 - acc: 0.6626
Epoch 38/150
170270/170270 - 5s - loss: 0.6190 - acc: 0.6629
Epoch 39/150
170270/170270 - 5s - loss: 0.6189 - acc: 0.6634
Epoch 40/150
170270/170270 - 5s - loss: 0.6187 - acc: 0.6632
Epoch 41/150
170270/170270 - 5s - loss: 0.6186 - acc: 0.6636
Epoch 42/150
170270/170270 - 5s - loss: 0.6184 - acc: 0.6635
Epoch 43/150
170270/170270 - 5s - loss: 0.6182 - acc: 0.6637
Epoch 44/150
170270/170270 - 5s - loss: 0.6180 - acc: 0.6639
Epoch 45/150
170270/170270 - 5s - loss: 0.6177 - acc: 0.6644
Epoch 46/150
170270/170270 - 5s - loss: 0.6175 - acc: 0.6645
Epoch 47/150
170270/170270 - 5s - loss: 0.6175 - acc: 0.6648
Epoch 48/150
170270/170270 - 5s - loss: 0.6173 - acc: 0.6648
Epoch 49/150
170270/170270 - 5s - loss: 0.6172 - acc: 0.6645
Epoch 50/150
170270/170270 - 5s - loss: 0.6170 - acc: 0.6648
Epoch 51/150
170270/170270 - 5s - loss: 0.6171 - acc: 0.6646
Epoch 52/150
170270/170270 - 5s - loss: 0.6168 - acc: 0.6650
Epoch 53/150
170270/170270 - 5s - loss: 0.6166 - acc: 0.6657
Epoch 54/150
170270/170270 - 5s - loss: 0.6165 - acc: 0.6651
Epoch 55/150
170270/170270 - 5s - loss: 0.6161 - acc: 0.6650
Epoch 56/150
170270/170270 - 5s - loss: 0.6161 - acc: 0.6651
Epoch 57/150
170270/170270 - 5s - loss: 0.6162 - acc: 0.6649
Epoch 58/150
170270/170270 - 5s - loss: 0.6159 - acc: 0.6657
Epoch 59/150
170270/170270 - 4s - loss: 0.6157 - acc: 0.6659
Epoch 60/150
170270/170270 - 5s - loss: 0.6158 - acc: 0.6657
Epoch 61/150
170270/170270 - 5s - loss: 0.6156 - acc: 0.6663
Epoch 62/150
170270/170270 - 5s - loss: 0.6156 - acc: 0.6667
Epoch 63/150
170270/170270 - 5s - loss: 0.6157 - acc: 0.6659
Epoch 64/150
170270/170270 - 5s - loss: 0.6151 - acc: 0.6662
Epoch 65/150
170270/170270 - 5s - loss: 0.6151 - acc: 0.6666
Epoch 66/150
170270/170270 - 5s - loss: 0.6151 - acc: 0.6663
Epoch 67/150
170270/170270 - 5s - loss: 0.6148 - acc: 0.6668
Epoch 68/150
170270/170270 - 5s - loss: 0.6145 - acc: 0.6671
Epoch 69/150
170270/170270 - 5s - loss: 0.6146 - acc: 0.6671
Epoch 70/150
170270/170270 - 5s - loss: 0.6142 - acc: 0.6676
Epoch 71/150
170270/170270 - 5s - loss: 0.6144 - acc: 0.6663
Epoch 72/150
170270/170270 - 5s - loss: 0.6141 - acc: 0.6665
Epoch 73/150
170270/170270 - 5s - loss: 0.6142 - acc: 0.6672
Epoch 74/150
170270/170270 - 5s - loss: 0.6138 - acc: 0.6679
Epoch 75/150
170270/170270 - 5s - loss: 0.6136 - acc: 0.6685
Epoch 76/150
170270/170270 - 5s - loss: 0.6134 - acc: 0.6678
Epoch 77/150
170270/170270 - 5s - loss: 0.6135 - acc: 0.6675
Epoch 78/150
170270/170270 - 5s - loss: 0.6132 - acc: 0.6683
Epoch 79/150
170270/170270 - 5s - loss: 0.6130 - acc: 0.6679
Epoch 80/150
170270/170270 - 5s - loss: 0.6133 - acc: 0.6673
Epoch 81/150
170270/170270 - 5s - loss: 0.6133 - acc: 0.6678
Epoch 82/150
170270/170270 - 5s - loss: 0.6129 - acc: 0.6677
Epoch 83/150
170270/170270 - 5s - loss: 0.6129 - acc: 0.6675
Epoch 84/150
170270/170270 - 5s - loss: 0.6127 - acc: 0.6682
Epoch 85/150
170270/170270 - 5s - loss: 0.6129 - acc: 0.6678
Epoch 86/150
170270/170270 - 5s - loss: 0.6127 - acc: 0.6674
Epoch 87/150
170270/170270 - 5s - loss: 0.6124 - acc: 0.6684
Epoch 88/150
170270/170270 - 5s - loss: 0.6123 - acc: 0.6688
Epoch 89/150
170270/170270 - 5s - loss: 0.6122 - acc: 0.6686
Epoch 90/150
170270/170270 - 5s - loss: 0.6124 - acc: 0.6682
Epoch 91/150
170270/170270 - 5s - loss: 0.6121 - acc: 0.6677
Epoch 92/150
170270/170270 - 5s - loss: 0.6118 - acc: 0.6688
Epoch 93/150
170270/170270 - 5s - loss: 0.6118 - acc: 0.6685
Epoch 94/150
170270/170270 - 5s - loss: 0.6118 - acc: 0.6687
Epoch 95/150
170270/170270 - 5s - loss: 0.6118 - acc: 0.6688
Epoch 96/150
170270/170270 - 5s - loss: 0.6117 - acc: 0.6683
Epoch 97/150
170270/170270 - 5s - loss: 0.6117 - acc: 0.6694
Epoch 98/150
170270/170270 - 5s - loss: 0.6117 - acc: 0.6686
Epoch 99/150
170270/170270 - 5s - loss: 0.6117 - acc: 0.6682
Epoch 100/150
170270/170270 - 5s - loss: 0.6115 - acc: 0.6686
Epoch 101/150
170270/170270 - 5s - loss: 0.6114 - acc: 0.6688
Epoch 102/150
170270/170270 - 5s - loss: 0.6115 - acc: 0.6686
Epoch 103/150
170270/170270 - 5s - loss: 0.6112 - acc: 0.6688
Epoch 104/150
170270/170270 - 5s - loss: 0.6111 - acc: 0.6692
Epoch 105/150
170270/170270 - 5s - loss: 0.6112 - acc: 0.6687
Epoch 106/150
170270/170270 - 5s - loss: 0.6111 - acc: 0.6686
Epoch 107/150
170270/170270 - 5s - loss: 0.6110 - acc: 0.6692
Epoch 108/150
170270/170270 - 5s - loss: 0.6107 - acc: 0.6691
Epoch 109/150
170270/170270 - 5s - loss: 0.6105 - acc: 0.6690
Epoch 110/150
170270/170270 - 5s - loss: 0.6105 - acc: 0.6704
Epoch 111/150
170270/170270 - 5s - loss: 0.6106 - acc: 0.6686
Epoch 112/150
170270/170270 - 5s - loss: 0.6105 - acc: 0.6687
Epoch 113/150
170270/170270 - 5s - loss: 0.6104 - acc: 0.6692
Epoch 114/150
170270/170270 - 5s - loss: 0.6105 - acc: 0.6696
Epoch 115/150
170270/170270 - 5s - loss: 0.6106 - acc: 0.6690
Epoch 116/150
170270/170270 - 5s - loss: 0.6102 - acc: 0.6689
Epoch 117/150
170270/170270 - 5s - loss: 0.6100 - acc: 0.6698
Epoch 118/150
170270/170270 - 5s - loss: 0.6101 - acc: 0.6690
Epoch 119/150
170270/170270 - 5s - loss: 0.6100 - acc: 0.6691
Epoch 120/150
170270/170270 - 5s - loss: 0.6100 - acc: 0.6691
Epoch 121/150
170270/170270 - 5s - loss: 0.6102 - acc: 0.6689
Epoch 122/150
170270/170270 - 5s - loss: 0.6101 - acc: 0.6694
Epoch 123/150
170270/170270 - 5s - loss: 0.6096 - acc: 0.6698
Epoch 124/150
170270/170270 - 5s - loss: 0.6099 - acc: 0.6693
Epoch 125/150
170270/170270 - 5s - loss: 0.6096 - acc: 0.6695
Epoch 126/150
170270/170270 - 5s - loss: 0.6094 - acc: 0.6697
Epoch 127/150
170270/170270 - 5s - loss: 0.6095 - acc: 0.6693
Epoch 128/150
170270/170270 - 5s - loss: 0.6092 - acc: 0.6698
Epoch 129/150
170270/170270 - 5s - loss: 0.6096 - acc: 0.6699
Epoch 130/150
170270/170270 - 5s - loss: 0.6093 - acc: 0.6698
Epoch 131/150
170270/170270 - 5s - loss: 0.6090 - acc: 0.6697
Epoch 132/150
170270/170270 - 5s - loss: 0.6093 - acc: 0.6703
Epoch 133/150
170270/170270 - 5s - loss: 0.6096 - acc: 0.6696
Epoch 134/150
170270/170270 - 5s - loss: 0.6090 - acc: 0.6700

Epoch 135/150
170270/170270 - 5s - loss: 0.6094 - acc: 0.6697
Epoch 136/150
170270/170270 - 5s - loss: 0.6091 - acc: 0.6700
Epoch 137/150
170270/170270 - 5s - loss: 0.6088 - acc: 0.6705
Epoch 138/150
170270/170270 - 5s - loss: 0.6088 - acc: 0.6698
Epoch 139/150
170270/170270 - 5s - loss: 0.6086 - acc: 0.6707
Epoch 140/150
170270/170270 - 5s - loss: 0.6089 - acc: 0.6704
Epoch 141/150
170270/170270 - 5s - loss: 0.6088 - acc: 0.6705
Epoch 142/150
170270/170270 - 5s - loss: 0.6086 - acc: 0.6715
Epoch 143/150
170270/170270 - 5s - loss: 0.6088 - acc: 0.6706
Epoch 144/150
170270/170270 - 5s - loss: 0.6087 - acc: 0.6707
Epoch 145/150
170270/170270 - 5s - loss: 0.6083 - acc: 0.6715
Epoch 146/150
170270/170270 - 5s - loss: 0.6085 - acc: 0.6719
Epoch 147/150
170270/170270 - 5s - loss: 0.6085 - acc: 0.6706
Epoch 148/150
170270/170270 - 5s - loss: 0.6084 - acc: 0.6704
Epoch 149/150
170270/170270 - 5s - loss: 0.6085 - acc: 0.6708
Epoch 150/150
170270/170270 - 5s - loss: 0.6083 - acc: 0.6709

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomundersampler', RandomUnderSampler()),
                ('kerasclassifier',
                 <tensorflow.python.keras.wrappers.scikit_learn.KerasClassifier object at 0x000001DCAAAF3828>)])

In [33]:
print(f"DL Training Data Score: {deep_model.score(X_train, y_train)}")
print(f"DL Testing Data Score: {deep_model.score(X_test, y_test)}")

247854/247854 - 5s - loss: 0.6297 - acc: 0.6536
DL Training Data Score: 0.6536226868629456
82619/82619 - 2s - loss: 0.6610 - acc: 0.6319
DL Testing Data Score: 0.6319490671157837

# Quantify the Models

In [34]:
deep_model_accuracy = deep_model.score(X_test, y_test)

82619/82619 - 2s - loss: 0.6610 - acc: 0.6319

In [35]:
print(f"DL Accuracy: {deep_model_accuracy}")

DL Accuracy: 0.6319490671157837

# Save the Model

In [36]:
from joblib import dump, load
dump(model, "Neural_Net_Model_5_Respiratory.pkl")

C:\Users\Rob-Desktop\Anaconda3\lib\site-packages\tensorflow_core\contrib\learn\python\learn\learn_io\generator_io.py:26: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Container

NameError: name 'model' is not defined