# Install Dependent Libraries (Databricks)

Note: If running this notebook in Databricks, you will need the following libraries. If these libraries are not installed on your Databricks Cluster, you can simply uncomment and run the following cell to install those libraries in the notebook before you import the dependencies.

Libraries needed:
- koalas
- mlflow
- tensorflow
- imblearn

In [1]:
# dbutils.library.installPyPI("koalas")
# dbutils.library.installPyPI("mlflow")
# dbutils.library.installPyPI("tensorflow")
# dbutils.library.installPyPI("imblearn")
# dbutils.library.restartPython()

# Import Dependencies

In [2]:
# import databricks.koalas as ks
import pandas as pd

import numpy as np
import gzip

In [3]:
import mlflow.sklearn

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
from sklearn.preprocessing import StandardScaler

from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import make_pipeline as make_pipeline_imb
from imblearn.metrics import classification_report_imbalanced

In [7]:
import tensorflow as tf
from tensorflow.keras import datasets, layers, models, utils

# Create a Keras model that's compatible with scikit-learn
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

# Connecting to the AWS S3 Mount

# Read the CSV and Perform Basic Data Cleaning

In [9]:
# # Read CSVs
# df = pd.read_csv("/dbfs/mnt/%s/Project 3 Stuff/cod_clean.csv.gz" % MOUNT_NAME, compression="gzip")

In [10]:
# Read CSVs
df = pd.read_csv("../data/cod_clean.csv.gz", compression="gzip")

# Select your Features and Labels

In [11]:
# Drop unnecessary column
df = df.drop(columns="ICD Code")
df.head()

,Education Level,Month of Death,Sex/Gender,Age Groups,Marital Status,Year,Cause of Death,Race,Cause of Death Category
0,8th grade or less,June,M,85 years and over,Married,2005,All other forms of chronic ischemic heart dise...,White,Diseases of the circulatory system
1,"9 - 12th grade, no diploma",January,F,45 - 54 years,Married,2005,Other chronic obstructive pulmonary disease,White,Diseases of the respiratory system
2,high school graduate or GED completed,January,F,65 - 74 years,Widowed,2005,"Of trachea, bronchus and lung",White,Neoplasms
3,high school graduate or GED completed,January,M,55 - 64 years,Married,2005,Intentional self-harm,White,External causes of morbidity and mortality
4,high school graduate or GED completed,January,M,75 - 84 years,Married,2005,"Stroke, not specified as hemorrhage or infarct...",White,Diseases of the circulatory system

In [12]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()
df.head()

,Education Level,Month of Death,Sex/Gender,Age Groups,Marital Status,Year,Cause of Death,Race,Cause of Death Category
0,8th grade or less,June,M,85 years and over,Married,2005,All other forms of chronic ischemic heart dise...,White,Diseases of the circulatory system
1,"9 - 12th grade, no diploma",January,F,45 - 54 years,Married,2005,Other chronic obstructive pulmonary disease,White,Diseases of the respiratory system
2,high school graduate or GED completed,January,F,65 - 74 years,Widowed,2005,"Of trachea, bronchus and lung",White,Neoplasms
3,high school graduate or GED completed,January,M,55 - 64 years,Married,2005,Intentional self-harm,White,External causes of morbidity and mortality
4,high school graduate or GED completed,January,M,75 - 84 years,Married,2005,"Stroke, not specified as hemorrhage or infarct...",White,Diseases of the circulatory system

In [13]:
cleanup_df = df[["Cause of Death", "Cause of Death Category", "Year", "Month of Death", "Sex/Gender",
                        "Marital Status", "Age Groups", "Education Level", "Race"]]

In [14]:
cleanup_df = cleanup_df.loc[(cleanup_df["Cause of Death"] == "Other cerebrovascular diseases and their sequelae ") | 
                            (cleanup_df["Cause of Death"] == "All other diseases of respiratory system ") |
                            (cleanup_df["Cause of Death Category"] == "External causes of morbidity and mortality") |
                            (cleanup_df["Cause of Death"] == "Alzheimer's disease ") |
                            (cleanup_df["Cause of Death"] == "Diabetes mellitus ") |
                            (cleanup_df["Cause of Death"] == "All other symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified ")
                            ]
cleanup_df = cleanup_df.reset_index(drop=True)

In [15]:
cleanup_df = cleanup_df.replace({
    "Endocrine, nutritional and metabolic diseases": "Diabetes mellitus",
    "Diseases of the nervous system": "Alzheimer's Disease",
    "Diseases of the circulatory system": "Cerebrovascular Diseases",
    "Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified": "Other"
})

In [16]:
selected_features = cleanup_df[["Cause of Death Category", "Year", "Month of Death", "Sex/Gender",
                        "Marital Status", "Age Groups", "Education Level", "Race"]]
selected_features.head()

,Cause of Death Category,Year,Month of Death,Sex/Gender,Marital Status,Age Groups,Education Level,Race
0,External causes of morbidity and mortality,2005,January,M,Married,55 - 64 years,high school graduate or GED completed,White
1,Cerebrovascular Diseases,2005,January,F,Widowed,75 - 84 years,8th grade or less,White
2,Alzheimer's Disease,2005,January,M,Widowed,85 years and over,"some college credit, but no degree",White
3,Alzheimer's Disease,2005,January,M,Married,75 - 84 years,"some college credit, but no degree",White
4,Diabetes mellitus,2005,January,M,Married,65 - 74 years,Master’s degree,White

In [17]:
for x in selected_features["Cause of Death Category"].unique():
    print(x)

External causes of morbidity and mortality
Cerebrovascular Diseases
Alzheimer's Disease
Diabetes mellitus
Diseases of the respiratory system
Other

# Select Labels for Test and Control Groups

In [18]:
selected_features = selected_features.loc[(selected_features["Cause of Death Category"] == "Alzheimer's Disease") |
                                         (selected_features["Cause of Death Category"] == "Other")]
selected_features = selected_features.reset_index(drop=True)

In [19]:
selected_features

,Cause of Death Category,Year,Month of Death,Sex/Gender,Marital Status,Age Groups,Education Level,Race
0,Alzheimer's Disease,2005,January,M,Widowed,85 years and over,"some college credit, but no degree",White
1,Alzheimer's Disease,2005,January,M,Married,75 - 84 years,"some college credit, but no degree",White
2,Alzheimer's Disease,2005,January,F,Widowed,75 - 84 years,"some college credit, but no degree",White
3,Alzheimer's Disease,2005,January,M,Married,85 years and over,high school graduate or GED completed,White
4,Alzheimer's Disease,2005,January,M,Married,75 - 84 years,"some college credit, but no degree",White
...,...,...,...,...,...,...,...,...
757947,Alzheimer's Disease,2015,December,F,Widowed,85 years and over,Bachelor’s degree,White
757948,Alzheimer's Disease,2015,December,M,Married,75 - 84 years,high school graduate or GED completed,Black
757949,Alzheimer's Disease,2015,December,F,Widowed,85 years and over,Bachelor’s degree,Black
757950,Alzheimer's Disease,2015,December,F,Widowed,85 years and over,8th grade or less,Black
757951,Alzheimer's Disease,2015,December,M,Divorced,65 - 74 years,8th grade or less,White

# Preview Data Distribution by Features and Classes

In [20]:
cod = selected_features.groupby("Cause of Death Category").count()
cod.sort_values(by="Year", ascending=False)

,Year,Month of Death,Sex/Gender,Marital Status,Age Groups,Education Level,Race
Cause of Death Category,,,,,,,
Alzheimer's Disease,644669,644669,644669,644669,644669,644669,644669
Other,113283,113283,113283,113283,113283,113283,113283

In [21]:
age = selected_features.groupby("Age Groups").count()
age.sort_values(by="Year", ascending=False)

,Cause of Death Category,Year,Month of Death,Sex/Gender,Marital Status,Education Level,Race
Age Groups,,,,,,,
85 years and over,483131,483131,483131,483131,483131,483131,483131
75 - 84 years,207265,207265,207265,207265,207265,207265,207265
65 - 74 years,44447,44447,44447,44447,44447,44447,44447
55 - 64 years,12312,12312,12312,12312,12312,12312,12312
45 - 54 years,4712,4712,4712,4712,4712,4712,4712
35 - 44 years,2256,2256,2256,2256,2256,2256,2256
25 - 34 years,1707,1707,1707,1707,1707,1707,1707
15 - 24 years,1204,1204,1204,1204,1204,1204,1204
Under 1 year (includes not stated infant ages),360,360,360,360,360,360,360
5 - 14 years,306,306,306,306,306,306,306
1 - 4 years,248,248,248,248,248,248,248
Age not stated,4,4,4,4,4,4,4

In [22]:
race = selected_features.groupby("Race").count()
race.sort_values(by="Year", ascending=False)

,Cause of Death Category,Year,Month of Death,Sex/Gender,Marital Status,Age Groups,Education Level
Race,,,,,,,
White,693300,693300,693300,693300,693300,693300,693300
Black,50665,50665,50665,50665,50665,50665,50665
Asian or Pacific Islander,11677,11677,11677,11677,11677,11677,11677
American Indian,2310,2310,2310,2310,2310,2310,2310

# Apply One-Hot Encoding

In [23]:
label_encoder = LabelEncoder()
onehotencoder = OneHotEncoder()

### Encode X data (features)

In [24]:
column_list = ["Month of Death", "Age Groups", "Education Level", "Sex/Gender", "Marital Status", "Race"]

In [25]:
for column in column_list:
    # Reshape column data; fit to the one-hot-encoder (expands columns)
    X = onehotencoder.fit_transform(selected_features[column].values.reshape(-1,1)).toarray()
    
    # Send the one-hot-encoded information from that column to a new dataframe
    dfOneHot = pd.DataFrame(X, columns = [column+str(int(i)) for i in range(X.shape[1])])
    
    # Merge the one-hot-encoded dataframe to the master dataframe
    selected_features = selected_features.merge(dfOneHot, how="right", right_index=True, left_index=True)
    
    # Drop the column selected (no longer needed)
    selected_features = selected_features.drop([column], axis=1)

selected_features.head()

,Cause of Death Category,Year,Month of Death0,Month of Death1,Month of Death2,Month of Death3,Month of Death4,Month of Death5,Month of Death6,Month of Death7,...,Sex/Gender1,Marital Status0,Marital Status1,Marital Status2,Marital Status3,Marital Status4,Race0,Race1,Race2,Race3
0,Alzheimer's Disease,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,Alzheimer's Disease,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,Alzheimer's Disease,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,Alzheimer's Disease,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,Alzheimer's Disease,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

### Encode Y data (labels/categories)

In [26]:
selected_features["Cause of Death Category"] = label_encoder.fit_transform(selected_features["Cause of Death Category"])
selected_features.head()

,Cause of Death Category,Year,Month of Death0,Month of Death1,Month of Death2,Month of Death3,Month of Death4,Month of Death5,Month of Death6,Month of Death7,...,Sex/Gender1,Marital Status0,Marital Status1,Marital Status2,Marital Status3,Marital Status4,Race0,Race1,Race2,Race3
0,0,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0,2005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

### Select Data Values

In [27]:
data = selected_features.values
X = data[:, 1:]
y = data[:, 0]

In [28]:
X.shape

(757952, 44)

# Make a Deep Learning Classifier

In [29]:
def build_DL_classifier():
    classifier = models.Sequential()
    number_inputs = 44
    first_hidden_layer = 60
    second_hidden_layer = 30
    third_hidden_layer = 24
    fourth_hidden_layer = 12
    number_classes = 2
    
    classifier.add(layers.Dense(units=first_hidden_layer, activation='relu', input_dim=number_inputs))
    classifier.add(layers.Dense(units=second_hidden_layer, activation='relu'))
    classifier.add(layers.Dense(units=third_hidden_layer, activation='relu'))
    classifier.add(layers.Dense(units=fourth_hidden_layer, activation='relu'))
    classifier.add(layers.Dense(units=number_classes, activation='softmax'))
    classifier.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
    return classifier

# keras_DL_classifier = KerasClassifier(build_DL_classifier, epochs=150, shuffle=True, verbose=2, callbacks=[EarlyStopping(monitor='accuracy', patience=20, verbose=2)])
keras_DL_classifier = KerasClassifier(build_DL_classifier, epochs=150, shuffle=True, verbose=2, callbacks=[EarlyStopping(monitor='loss', patience=20, verbose=2)])

# Create a Train Test Split

In [30]:
# split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Preprocess the Data and Adjust Imbalanced Data

In [31]:
deep_model = make_pipeline_imb(StandardScaler(), RandomUnderSampler(), keras_DL_classifier)

In [32]:
deep_model.fit(X_train, y_train)

WARNING:tensorflow:From C:\Users\Rob-Desktop\Anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

C:\Users\Rob-Desktop\Anaconda3\lib\site-packages\tensorflow_core\python\framework\tensor_util.py:521: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  tensor_proto.tensor_content = nparray.tostring()
C:\Users\Rob-Desktop\Anaconda3\lib\site-packages\tensorflow_core\python\training\tracking\data_structures.py:669: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  if not isinstance(wrapped_dict, collections.Mapping):
C:\Users\Rob-Desktop\Anaconda3\lib\site-packages\tensorflow_core\python\framework\indexed_slices.py:339: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  if not isinstance(values, collections.Sequence):
C:\Users\Rob-Desktop\Anaconda3\lib\site-packages\tensorflow_core\python\framework\tensor_util.py:521: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  tensor_proto.tensor_content = nparray.tostring()

Train on 170086 samples
Epoch 1/150
170086/170086 - 6s - loss: 0.6395 - acc: 0.5999
Epoch 2/150
170086/170086 - 6s - loss: 0.6316 - acc: 0.6163
Epoch 3/150
170086/170086 - 6s - loss: 0.6303 - acc: 0.6194
Epoch 4/150
170086/170086 - 6s - loss: 0.6294 - acc: 0.6207
Epoch 5/150
170086/170086 - 6s - loss: 0.6292 - acc: 0.6211
Epoch 6/150
170086/170086 - 6s - loss: 0.6288 - acc: 0.6212
Epoch 7/150
170086/170086 - 6s - loss: 0.6284 - acc: 0.6219
Epoch 8/150
170086/170086 - 6s - loss: 0.6281 - acc: 0.6221
Epoch 9/150
170086/170086 - 6s - loss: 0.6277 - acc: 0.6227
Epoch 10/150
170086/170086 - 6s - loss: 0.6275 - acc: 0.6222
Epoch 11/150
170086/170086 - 6s - loss: 0.6272 - acc: 0.6240
Epoch 12/150
170086/170086 - 6s - loss: 0.6271 - acc: 0.6226
Epoch 13/150
170086/170086 - 6s - loss: 0.6267 - acc: 0.6243
Epoch 14/150
170086/170086 - 6s - loss: 0.6264 - acc: 0.6243
Epoch 15/150
170086/170086 - 6s - loss: 0.6261 - acc: 0.6252
Epoch 16/150
170086/170086 - 6s - loss: 0.6260 - acc: 0.6251
Epoch 17/150
170086/170086 - 6s - loss: 0.6257 - acc: 0.6239
Epoch 18/150
170086/170086 - 6s - loss: 0.6256 - acc: 0.6257
Epoch 19/150
170086/170086 - 6s - loss: 0.6254 - acc: 0.6253
Epoch 20/150
170086/170086 - 5s - loss: 0.6249 - acc: 0.6262
Epoch 21/150
170086/170086 - 6s - loss: 0.6248 - acc: 0.6263
Epoch 22/150
170086/170086 - 6s - loss: 0.6246 - acc: 0.6270
Epoch 23/150
170086/170086 - 6s - loss: 0.6243 - acc: 0.6275
Epoch 24/150
170086/170086 - 6s - loss: 0.6240 - acc: 0.6275
Epoch 25/150
170086/170086 - 6s - loss: 0.6238 - acc: 0.6279
Epoch 26/150
170086/170086 - 6s - loss: 0.6239 - acc: 0.6276
Epoch 27/150
170086/170086 - 6s - loss: 0.6236 - acc: 0.6273
Epoch 28/150
170086/170086 - 5s - loss: 0.6234 - acc: 0.6284
Epoch 29/150
170086/170086 - 5s - loss: 0.6233 - acc: 0.6282
Epoch 30/150
170086/170086 - 5s - loss: 0.6230 - acc: 0.6286
Epoch 31/150
170086/170086 - 5s - loss: 0.6230 - acc: 0.6281
Epoch 32/150
170086/170086 - 5s - loss: 0.6230 - acc: 0.6284
Epoch 33/150
170086/170086 - 5s - loss: 0.6225 - acc: 0.6298
Epoch 34/150
170086/170086 - 5s - loss: 0.6222 - acc: 0.6295
Epoch 35/150
170086/170086 - 5s - loss: 0.6221 - acc: 0.6300
Epoch 36/150
170086/170086 - 5s - loss: 0.6219 - acc: 0.6300
Epoch 37/150
170086/170086 - 5s - loss: 0.6218 - acc: 0.6302
Epoch 38/150
170086/170086 - 5s - loss: 0.6216 - acc: 0.6307
Epoch 39/150
170086/170086 - 5s - loss: 0.6214 - acc: 0.6303
Epoch 40/150
170086/170086 - 5s - loss: 0.6212 - acc: 0.6305
Epoch 41/150
170086/170086 - 5s - loss: 0.6211 - acc: 0.6307
Epoch 42/150
170086/170086 - 5s - loss: 0.6210 - acc: 0.6316
Epoch 43/150
170086/170086 - 5s - loss: 0.6207 - acc: 0.6308
Epoch 44/150
170086/170086 - 5s - loss: 0.6209 - acc: 0.6313
Epoch 45/150
170086/170086 - 5s - loss: 0.6205 - acc: 0.6311
Epoch 46/150
170086/170086 - 5s - loss: 0.6203 - acc: 0.6321
Epoch 47/150
170086/170086 - 5s - loss: 0.6202 - acc: 0.6321
Epoch 48/150
170086/170086 - 5s - loss: 0.6200 - acc: 0.6318
Epoch 49/150
170086/170086 - 5s - loss: 0.6199 - acc: 0.6310
Epoch 50/150
170086/170086 - 5s - loss: 0.6198 - acc: 0.6327
Epoch 51/150
170086/170086 - 5s - loss: 0.6194 - acc: 0.6329
Epoch 52/150
170086/170086 - 5s - loss: 0.6195 - acc: 0.6324
Epoch 53/150
170086/170086 - 5s - loss: 0.6192 - acc: 0.6320
Epoch 54/150
170086/170086 - 5s - loss: 0.6191 - acc: 0.6323
Epoch 55/150
170086/170086 - 5s - loss: 0.6190 - acc: 0.6329
Epoch 56/150
170086/170086 - 5s - loss: 0.6190 - acc: 0.6330
Epoch 57/150
170086/170086 - 6s - loss: 0.6190 - acc: 0.6323
Epoch 58/150
170086/170086 - 5s - loss: 0.6186 - acc: 0.6335
Epoch 59/150
170086/170086 - 5s - loss: 0.6187 - acc: 0.6335
Epoch 60/150
170086/170086 - 5s - loss: 0.6183 - acc: 0.6341
Epoch 61/150
170086/170086 - 5s - loss: 0.6185 - acc: 0.6329
Epoch 62/150
170086/170086 - 5s - loss: 0.6181 - acc: 0.6335
Epoch 63/150
170086/170086 - 5s - loss: 0.6181 - acc: 0.6336
Epoch 64/150
170086/170086 - 5s - loss: 0.6179 - acc: 0.6339
Epoch 65/150
170086/170086 - 5s - loss: 0.6179 - acc: 0.6341
Epoch 66/150
170086/170086 - 5s - loss: 0.6177 - acc: 0.6343
Epoch 67/150
170086/170086 - 5s - loss: 0.6177 - acc: 0.6334
Epoch 68/150
170086/170086 - 5s - loss: 0.6177 - acc: 0.6344
Epoch 69/150
170086/170086 - 5s - loss: 0.6176 - acc: 0.6342
Epoch 70/150
170086/170086 - 5s - loss: 0.6174 - acc: 0.6345
Epoch 71/150
170086/170086 - 5s - loss: 0.6174 - acc: 0.6342
Epoch 72/150
170086/170086 - 5s - loss: 0.6171 - acc: 0.6348
Epoch 73/150
170086/170086 - 5s - loss: 0.6172 - acc: 0.6345
Epoch 74/150
170086/170086 - 5s - loss: 0.6167 - acc: 0.6357
Epoch 75/150
170086/170086 - 5s - loss: 0.6172 - acc: 0.6354
Epoch 76/150
170086/170086 - 5s - loss: 0.6169 - acc: 0.6353
Epoch 77/150
170086/170086 - 5s - loss: 0.6168 - acc: 0.6349
Epoch 78/150
170086/170086 - 5s - loss: 0.6167 - acc: 0.6347
Epoch 79/150
170086/170086 - 5s - loss: 0.6166 - acc: 0.6357
Epoch 80/150
170086/170086 - 5s - loss: 0.6164 - acc: 0.6347
Epoch 81/150
170086/170086 - 5s - loss: 0.6166 - acc: 0.6351
Epoch 82/150
170086/170086 - 5s - loss: 0.6165 - acc: 0.6351
Epoch 83/150
170086/170086 - 5s - loss: 0.6165 - acc: 0.6352
Epoch 84/150
170086/170086 - 5s - loss: 0.6163 - acc: 0.6353
Epoch 85/150
170086/170086 - 5s - loss: 0.6162 - acc: 0.6349
Epoch 86/150
170086/170086 - 5s - loss: 0.6159 - acc: 0.6360
Epoch 87/150
170086/170086 - 5s - loss: 0.6161 - acc: 0.6353
Epoch 88/150
170086/170086 - 5s - loss: 0.6158 - acc: 0.6367
Epoch 89/150
170086/170086 - 5s - loss: 0.6160 - acc: 0.6360
Epoch 90/150
170086/170086 - 5s - loss: 0.6158 - acc: 0.6347
Epoch 91/150
170086/170086 - 5s - loss: 0.6157 - acc: 0.6364
Epoch 92/150
170086/170086 - 5s - loss: 0.6154 - acc: 0.6356
Epoch 93/150
170086/170086 - 6s - loss: 0.6155 - acc: 0.6362
Epoch 94/150
170086/170086 - 5s - loss: 0.6155 - acc: 0.6364
Epoch 95/150
170086/170086 - 5s - loss: 0.6157 - acc: 0.6357
Epoch 96/150
170086/170086 - 5s - loss: 0.6155 - acc: 0.6362
Epoch 97/150
170086/170086 - 5s - loss: 0.6154 - acc: 0.6361
Epoch 98/150
170086/170086 - 5s - loss: 0.6155 - acc: 0.6366
Epoch 99/150
170086/170086 - 5s - loss: 0.6154 - acc: 0.6361
Epoch 100/150
170086/170086 - 5s - loss: 0.6152 - acc: 0.6364
Epoch 101/150
170086/170086 - 5s - loss: 0.6152 - acc: 0.6367
Epoch 102/150
170086/170086 - 5s - loss: 0.6153 - acc: 0.6359
Epoch 103/150
170086/170086 - 5s - loss: 0.6149 - acc: 0.6373
Epoch 104/150
170086/170086 - 5s - loss: 0.6151 - acc: 0.6362
Epoch 105/150
170086/170086 - 5s - loss: 0.6150 - acc: 0.6363
Epoch 106/150
170086/170086 - 5s - loss: 0.6149 - acc: 0.6370
Epoch 107/150
170086/170086 - 5s - loss: 0.6148 - acc: 0.6367
Epoch 108/150
170086/170086 - 5s - loss: 0.6149 - acc: 0.6366
Epoch 109/150
170086/170086 - 5s - loss: 0.6148 - acc: 0.6365
Epoch 110/150
170086/170086 - 5s - loss: 0.6147 - acc: 0.6366
Epoch 111/150
170086/170086 - 5s - loss: 0.6147 - acc: 0.6368
Epoch 112/150
170086/170086 - 5s - loss: 0.6147 - acc: 0.6364
Epoch 113/150
170086/170086 - 5s - loss: 0.6145 - acc: 0.6368
Epoch 114/150
170086/170086 - 5s - loss: 0.6144 - acc: 0.6367
Epoch 115/150
170086/170086 - 5s - loss: 0.6144 - acc: 0.6376
Epoch 116/150
170086/170086 - 5s - loss: 0.6141 - acc: 0.6373
Epoch 117/150
170086/170086 - 5s - loss: 0.6143 - acc: 0.6373
Epoch 118/150
170086/170086 - 5s - loss: 0.6142 - acc: 0.6366
Epoch 119/150
170086/170086 - 5s - loss: 0.6143 - acc: 0.6367
Epoch 120/150
170086/170086 - 6s - loss: 0.6141 - acc: 0.6371
Epoch 121/150
170086/170086 - 6s - loss: 0.6140 - acc: 0.6374
Epoch 122/150
170086/170086 - 6s - loss: 0.6139 - acc: 0.6371
Epoch 123/150
170086/170086 - 6s - loss: 0.6138 - acc: 0.6375
Epoch 124/150
170086/170086 - 6s - loss: 0.6138 - acc: 0.6368
Epoch 125/150
170086/170086 - 6s - loss: 0.6140 - acc: 0.6367
Epoch 126/150
170086/170086 - 5s - loss: 0.6139 - acc: 0.6365
Epoch 127/150
170086/170086 - 5s - loss: 0.6139 - acc: 0.6373
Epoch 128/150
170086/170086 - 5s - loss: 0.6139 - acc: 0.6373
Epoch 129/150
170086/170086 - 5s - loss: 0.6136 - acc: 0.6372
Epoch 130/150
170086/170086 - 5s - loss: 0.6136 - acc: 0.6378
Epoch 131/150
170086/170086 - 5s - loss: 0.6135 - acc: 0.6378
Epoch 132/150
170086/170086 - 5s - loss: 0.6136 - acc: 0.6368
Epoch 133/150
170086/170086 - 5s - loss: 0.6136 - acc: 0.6370
Epoch 134/150
170086/170086 - 5s - loss: 0.6136 - acc: 0.6371

Epoch 135/150
170086/170086 - 5s - loss: 0.6132 - acc: 0.6380
Epoch 136/150
170086/170086 - 5s - loss: 0.6134 - acc: 0.6378
Epoch 137/150
170086/170086 - 6s - loss: 0.6133 - acc: 0.6373
Epoch 138/150
170086/170086 - 5s - loss: 0.6132 - acc: 0.6382
Epoch 139/150
170086/170086 - 5s - loss: 0.6129 - acc: 0.6382
Epoch 140/150
170086/170086 - 5s - loss: 0.6133 - acc: 0.6377
Epoch 141/150
170086/170086 - 5s - loss: 0.6128 - acc: 0.6381
Epoch 142/150
170086/170086 - 5s - loss: 0.6127 - acc: 0.6385
Epoch 143/150
170086/170086 - 5s - loss: 0.6131 - acc: 0.6382
Epoch 144/150
170086/170086 - 5s - loss: 0.6130 - acc: 0.6377
Epoch 145/150
170086/170086 - 5s - loss: 0.6128 - acc: 0.6375
Epoch 146/150
170086/170086 - 5s - loss: 0.6130 - acc: 0.6376
Epoch 147/150
170086/170086 - 5s - loss: 0.6128 - acc: 0.6382
Epoch 148/150
170086/170086 - 5s - loss: 0.6128 - acc: 0.6376
Epoch 149/150
170086/170086 - 5s - loss: 0.6128 - acc: 0.6378
Epoch 150/150
170086/170086 - 4s - loss: 0.6126 - acc: 0.6384

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomundersampler', RandomUnderSampler()),
                ('kerasclassifier',
                 <tensorflow.python.keras.wrappers.scikit_learn.KerasClassifier object at 0x000002B88E443AC8>)])

In [33]:
print(f"DL Training Data Score: {deep_model.score(X_train, y_train)}")
print(f"DL Testing Data Score: {deep_model.score(X_test, y_test)}")

568464/568464 - 11s - loss: 0.6251 - acc: 0.6753
DL Training Data Score: 0.6753092408180237
189488/189488 - 4s - loss: 0.6377 - acc: 0.6668
DL Testing Data Score: 0.666796863079071

# Quantify the Models

In [34]:
deep_model_accuracy = deep_model.score(X_test, y_test)

189488/189488 - 4s - loss: 0.6377 - acc: 0.6668

In [35]:
print(f"DL Accuracy: {deep_model_accuracy}")

DL Accuracy: 0.666796863079071

# Save the Model

In [36]:
from joblib import dump, load
dump(model, "Neural_Net_Model_3_Alzheimers.pkl")

C:\Users\Rob-Desktop\Anaconda3\lib\site-packages\tensorflow_core\contrib\learn\python\learn\learn_io\generator_io.py:26: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Container

NameError: name 'model' is not defined